<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script scr="~/lib/jquery/jquery.min.js"></script>
    <script scr="~/lib/popper.js/popper.min.js"></script>
    <script scr="~/lib/bootstrap/bootstrap.min.js"></script>

    <script scr="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script scr="~/lib/jquery-validation-unobtrusive/jquery.validation.unobtrusive.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>